<% if session[:domain].name != "Advocacy"  %>
  <% breadcrumb :story_set_category, @category%>
<% end %>
<div class="col-md-10 col-md-offset-1">
  <h3>New <%= session[:style].set_alias.titleize %></h3>
  <%= render 'form' %>
</div>
