
<div class="row">

  <div class="col-md-6">
    <a href="https://itunes.apple.com/ph/app/apology-wiz/id502894068?mt=8">
      <img alt="appstore" src="/images/apologywiz/appstore.png" width="303" height="100" />
    </a> 
  </div>

  <div class="col-md-6">
    <a href="https://play.google.com/store/apps/details?id=air.com.apologywiz&amp;hl=en">
      <img alt="apologywizongoogleplay" src="/images/apologywiz/apologywizongoogleplay1.png" width="303" height="100" />
    </a>
  </div>
</div>
