<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bt_application.name %>
</p>


<%= link_to 'Edit', edit_application_path(@bt_application) %> |
<%= link_to 'Back', bright_text_applications_path %>
