<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hey --</p>
    <p>
      <%= @sender %> has invited you to see their apologies. You do that on your android or iOS mobile device.
    </p>
    <p>
      Get the app here --
      <br/>
      <a href="https://itunes.apple.com/ph/app/apology-wiz/id502894068?mt=8">Apple Store: ApologyWiz</a> 
      <br/>
      <a href="https://play.google.com/store/apps/details?id=air.com.contextit.apologywiz&amp;hl=en">Google Play: ApologyWiz</a>
    </p>
    <p>
      For less than a cup of coffee you can hear how sorry they really are. (Or you can get the free version, but you won't see what they've created especially with you in mind).
    </p>
  </body>
</html>