<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hey <%=@receiver.name if @receiver.name.present? %></p>
    <p>
      <%=@sender.name.present? ? @sender.name : @sender.email %> has created something that he wants you to see. Fire up the Apology Wiz app and you'll see it's been added to your  home screen!
    </p>
    <p>
      - The Apology Wiz Team
    </p>
  </body>
</html>