    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select XML File</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="stories_file">
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    
    <script>
  $(function () {
    
    $('#fileupload').fileupload({
        type: "POST",
        url: '/admin/upload',
        dataType: 'json',
        done: function (e, data) {
            $('#fileupload').prop('disabled', true);
            console.log('upload finished');
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css('width',progress + '%');
        }
    });
  });

</script>