<% if @story.errors.count == 0 %>
  $('#dialog-message').replaceWith('<p id=\"dialog-message\"><%= session[:style].story_alias.titleize %> was updated successfully</p>');
  $('#dialog').modal({
    keyboard: true
  });

<% else %>
  <%
    message = ""
    @story.errors.full_messages.each do |msg| 
         message = message +" "+ msg +"."
    end
  %>
  $('#dialog-message').replaceWith('<p id=\"dialog-message\">Following error occurred while saving <%= session[:style].story_alias.titleize %>:<%=message%></p>');
  $('#dialog').modal({
    keyboard: true
  });
<% end %>
