/* Authors: zainansari@live.com : Creation Date:01-Apr-2012 Updation Date:N-A*/
body{background:url('../images/bg/index.png') no-repeat; font-family:'Cuprum'; background:#2a333a;}
h1,h2,h3{margin:1em 0;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
optgroup{font-weight:normal;}
abbr,acronym{border-bottom:1px dotted #000;cursor:help;}
del{text-decoration:line-through;}
ol li{list-style:decimal outside;}
ul li{list-style:disc outside;}
dl dd{margin-left:1em;}
th,td{border:1px solid #000;padding:.5em;text-align:center;}
th{font-weight:bold;text-align:center;}
caption{margin-bottom:.5em;}
sup{vertical-align:super;}
sub{vertical-align:sub;}
p,fieldset,table,pre{margin-bottom:1em;}
button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"]{padding:1px;}
a{color:inherit;}
/* widths Heights */
body,#mHdr,#mCnt,#mFtr,.w100P,#w100P{width:100%;}
.mWrp{width:970px;margin:0 auto;}

/* Floats Clears */
.clr{clear:both;}
.fL{float:left;}
.fR{float:right;}
#mHdr,#mCnt,#mFtr{float:left;}

/* Layout */
.cT,.cC,.cF,.L,.R,.C{float:left;}

/* General */
.mT10{margin-top:10px;}

/* IE6 Hacks */