body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #FFF; }
a:visited { color: #CBC8C1; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors{
  display: table;
  color: red;
}


.field_with_errors input{
    border: 3px solid red;
}

.field_with_errors_label{
    float: left;
    color: white  !important;
}

#error_explanation {
  display: none;
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}




.form-field {
  padding:10px 0px 0px 20px; 
  min-height:35px; 
  width:600px; 
  border:1px dashed #cccccc;
}

.form-field-label{
  width:100px; 
  float:left; 
  padding-top:3px; 
  font-weight:bold;
}

.form-field-value{
  min-width:400px; 
  float:none;
}

.back-button{
  height:28px;
}

tr.info_row td{
    border-bottom: 1px solid transparent;
    border-top: 1px solid #30273A;
    padding: 8px 8px 8px 0;
}

tr{
    text-align: center;
}
th[data-sort]{
    cursor:pointer;
}
