<div class="tab-pane" id="step_3">
  <div class="jumbotron">
    <div class="container">
        <div class="col-md-6">
          <%= form_for([:apologywiz, @group_member], :remote=>true, :html => { :role => "form", :class=>"form"}, :validate => true) do |f| %>
          <div class="form-group">
            <label class="control-label">Email</label>
            <%= f.text_field :email, class: 'form-control', placeholder: "example: john@gmail.com" %>
          </div>

          <div class="form-group">
            <%= f.submit :id => "save_group_member_btn", :value => "Add", :class => "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      <div class="col-md-6">
        <h3>Shared With:</h3>
        <div class="col-md-12" style="overflow: scroll; height: 200px">
          <table id="groups-table" class="table table-bordered table-striped tablesorter tablesorter-bootstrap" >
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
