<div class="tab-pane active" id="step_1">
  <div class="jumbotron">
    <div class="container">
        <div class="col-md-6">
          <h3>New Apology</h3>
          <%= form_for([:apologywiz, @story], :html => { :role => "form", :class=>"form"}, :validate => true) do |f| %>
          <div class="form-group">
            <label class="control-label">Name <font size="3">(will display on your device)</font></label>
            <%= f.text_field :category, class: 'form-control', placeholder: "example: John's Apologies" %>
          </div>
          <div class="form-group">
            <label class="control-label">Title <font size="3">(just for your reference -- displayed here only)</font></label>
            <%= f.text_field :name, class: 'form-control', placeholder: "example: Sorry I've been a creep" %>
          </div>
          <% end %>
        </div>
      <div class="col-md-6">        
        <div class="col-md-offset-1 col-md-11">
          <h3>My Apologies</h3>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-md-2 control-label" for="filter">Search:</label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="filter">
              </div>            
            </div>
          </form>
        </div>
        <div class="col-md-offset-1 col-md-11">
          <table class="footable" data-filter="#filter" data-page-size="3">        
            <thead>
              <tr>
                <th data-type="alpha" data-sort-initial="true" class="footable-first-column footable-sortable">Name<span class="footable-sort-indicator"></span></th>
              </tr>
            </thead>
            <tbody>              
            </tbody>
            <tfoot>
              <tr>
                <td style="text-align: center"><div class="pagination pagination-centered"></div></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>