<style type="text/css" media="screen">
  textarea.dataport{
    width:764px;
    height:392px;
    resize:none;
  }

  DIV.harnesscontainer{
    width:834px;
    height:34px;
    margin:5px;
    padding:5px;
    float:left;
    border: 1px dotted black
  }

  DIV.viewportcontainer{
    width:480px;
    height:140px;
    margin:5px;
    padding:5px;
    float:left;
  }

  DIV.btEditor{
    height:160px;
    padding:10px;
  }

</style>
<ul id="story_tabs" class="nav nav-tabs nav-justified">
  <li class="active"><a id="astep_1" href="#step_1"><h4>Step 1</h4></a></li>
  <li><a id="astep_2" href="#step_2"><h4>Step 2</h4></a></li>
  <li><a id="astep_3" href="#step_3"><h4>Step 3</h4></a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <%= render 'step1' %>
  <%= render 'step2' %>
  <%= render 'step3' %>
</div>
<div id="dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p id="dialog-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>
<script>
var _bt1;
var stories;
var formSubmitted = false;

function updateToneSlider1(gradients, value){
  var toneIndex = Math.round(value % gradients.length);
  if (gradients.length > 1) {
    console.log(toneIndex);
    if(gradients[ toneIndex ]!=undefined)
      $("#gradient1").html(gradients[ toneIndex ].name);
    //$("#tone-control1").show();
  }
}

$(document).ready(function() {
  $(function(){
    $("#main-table").tablesorter();
  });

  $(function() {
    $("#main-table").on('click','a.clickapology', function(event){
        event.preventDefault();
        var index = $(this).attr("id");
        var story = stories[index];
        $("#story_id").val(story["id"]);
        $("#category_name").html("");
        $("#name").html(story["name"]);
        $("#bt_one").html("");
        $("#fieldDescriptor").val("");
        $("#fieldSummary").val("");
        _bt1.renderData(JSON.parse(story["descriptor"]));
        $('form.edit_story').get(0).setAttribute('action', '/apologywiz/stories/'+ story["id"]);
        $("#astep_2").tab('show');
    });
  });

  $(function() {
      $("#groups-table").on('click','a.clickmember', function(event){
          event.preventDefault();
          var index = $(this).attr("id");
           $.ajax({
              type: "DELETE",
              url: "/apologywiz/group_members/"+index,
              dataType: "json",
              data: "",
              success: function(data) {
                if(data["success"] === "true") {
                  $('#dialog-message').replaceWith('<p id=\"dialog-message\">Email is removed successfully</p>');
                  $('#dialog').modal({
                    keyboard: true
                  });
                  showMembers();
                }
              }
           });
      });
   });
});

$(document).ready(function() {

    _bt1 = new BrightTextEditor("bt_one", true);
    var rawData = $("#fieldDescriptor");
    var textData = $("#fieldSummary");

    _bt1.onChange(function() {
      rawData[0].value = $.toJSON(_bt1.toData());
      textData[0].value = _bt1.toString();
      updateToneSlider1(_bt1.toneGradients(), _bt1.selectedTone());
    });

    //$("#tone-control1").hide( );
    $("#slider1").slider({
      value: 1,
      min: 1,
      max: 10,
      step: 0.01,
      tooltip : "hide"
    });

    $("#slider1").on('slide', function(slideEvt) {
      _bt1.handleToneSelection(slideEvt.value);
    });

    $("#edit_choicesets").on( "click", function(event){
          event.preventDefault();
          _bt1.editChoicesets();
    });

    $("#instant_rewrite1").on( "click", function(event){
      event.preventDefault();
      _bt1.rewrite();
    });

    showStories();
  });



function showMembers(){
   $.ajax({
     type: "get",
     url: "/apologywiz/group_members",
     dataType: "json",
     data: "",
     success: function(data) {
       if(data["success"] === "true") {
          members = data["group_members"];
          console.log(members);
          var rows = "";
          $.each(members, function (i, member) {
            console.log(member);
            rows += "<tr>" +
                      "<td>" + member["email"] + "</td>" +
                      "<td><a id='" + member["id"] +"' class='clickmember' href='#'>Remove</a></td>" +
                    "</tr>";
          });
          $("#groups-table tbody").html("");
          $("#groups-table tbody").append(rows);
       }
     }
   });
};

function showStories(){
   $.ajax({
     type: "get",
     url: "/apologywiz/stories",
     dataType: "json",
     data: "",
     success: function(data) {
       if(data["success"] === "true") {
          stories = data["stories"];
          console.log(stories);
          var rows = "";
          $.each(stories, function (i, apology) {
            console.log(apology);
            rows += "<tr>" +
                      "<td><a id='" + i +"' class='clickapology' href='#'>" + apology["name"] + "</a></td>" +
                    "</tr>";
          });
          $("#main-table tbody").html("");
          $("#main-table tbody").append(rows);
       }
     }
   });
};

$("#astep_1").click(function() {
  formSubmitted = false;
  $('#story_category').val('');
  $('#story_name').val('');
  showStories();
  $(this).tab('show');
});

$("#astep_2").click(function() {
if(formSubmitted===false){
  var title = $("#story_category").val();
  if(title===''){
    $('#dialog-message').replaceWith('<p id=\"dialog-message\">Name can\'t be blank</p>');
    $('#dialog').modal({
      keyboard: true
    });
    $("#astep_1").click();
    $("#story_category").focus();
  }else{
    var subtitle = $("#story_name").val();
    if(subtitle===''){
      $('#dialog-message').replaceWith('<p id=\"dialog-message\">Title can\'t be blank</p>');
      $('#dialog').modal({
        keyboard: true
      });
      $("#astep_1").click();
      $("#story_name").focus();
    }else{
      $.ajax({
        type: "post",
        url: "/apologywiz/stories",
        dataType: "json",
        data: $("#new_story").serialize(),
        success: function(data) {
          formSubmitted = true;
          if(data["id"] !== "") {
            $("#story_id").val(data["id"]);
            $("#category_name").text($("#story_category").val());
            $("#name").text($("#story_name").val());
            $('form.edit_story').get(0).setAttribute('action', '/apologywiz/stories/'+data["id"]);
            $('#dialog-message').replaceWith('<p id=\"dialog-message\">Apology was saved successfully</p>');
            $('#dialog').modal({
              keyboard: true
            });
          }
          else if(data["name"]){
            message = data["name"];
            $("#story_name").parent().addClass('field_with_errors');
            $("#story_name + .message").remove();
            $("#story_name").after('<label class="message" style="margin-top: 50px; display: block; margin-left: 30px;">' + message + '</label>'); $("a[href='.step1']").click();
          }
        }
      });

      $("#bt_one").html("");
      $("#fieldDescriptor").val("");
      $("#fieldSummary").val("");
      $(this).tab('show');

    }
  }
}
});

$("#astep_3").click(function() {
  showMembers();
  $(this).tab('show');
});

(function() {
    window.alert = function(str) {
        $('#dialog-message').replaceWith('<p id=\"dialog-message\">'+ str +'</p>');
        $('#dialog').modal({
          keyboard: true
        });
    };
})();

</script>