<% if @story.errors.count == 0 %>
  $('#dialog-message').replaceWith('<p id=\"dialog-message\">Apology was updated successfully</p>');
  $('#dialog').modal({
    keyboard: true
  });

<% else %>
  $('#dialog-message').replaceWith('<p id=\"dialog-message\">An error occurred while updating Apology</p>');
  $('#dialog').modal({
    keyboard: true
  });
<% end %>