<!DOCTYPE html>
<html>
<head>
  <title>BrightText</title>
  <style>
    .flash {
      padding: 10px;
    }
    .notice {
      background: green;
    }
    .error {
      background: #FF5E5E;
    }
    .field_with_errors input {
      border: 1px solid #FF5E5E;
    }
    .field_with_errors label.message {
      color: red;
    }
  </style>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/grids.css">
  <link rel="stylesheet" href="/stylesheets/fonts.css">
  <link rel="stylesheet" href="/stylesheets/skin.css">
</head>
<body>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="<%= name %> flash">
        <%= content_tag :div, msg %>
      </div>
    <% end %>
  <% end %>

  <div class="bg">
        <div class="mWrp">
            <div id="mHdr">
              <div class="logo">
                  <img src="/images/logos/logo.png" alt="logo" />
                </div>
            </div>
            <div id="mCnt">
              <%= yield %>
            </div>
         </div>
    </div>

</body>